version: '3'
services:
  node1:
    build: ./node
    container_name: node1
    hostname: node1
    environment:
      - HOSTNAME=node1
    volumes:
      - ./node/data/node1:/app/data 
    ports:
      - "3001:3000"
      - "4001:4000"
    networks:
      - pbft_network

  node2:
    build: ./node
    container_name: node2
    hostname: node2
    environment:
      - HOSTNAME=node2
    volumes:
      - ./node/data/node2:/app/data  
    ports:
      - "3002:3000"
      - "4002:4000"
    networks:
      - pbft_network

  node3:
    build: ./node
    container_name: node3
    hostname: node3
    environment:
      - HOSTNAME=node3
    volumes:
      - ./node/data/node3:/app/data 
    ports:
      - "3003:3000"
      - "4003:4000"
    networks:
      - pbft_network

  node4:
    build: ./node
    container_name: node4
    hostname: node4
    environment:
      - HOSTNAME=node4
    volumes:
      - ./node/data/node4:/app/data 
    ports:
      - "3004:3000"
      - "4004:4000"
    networks:
      - pbft_network


  client:
    build: ./client
    container_name: pbft-client
    hostname: pbft-client
    environment:
      - HOSTNAME=pbft-client
    depends_on:
      - node1
      - node2
      - node3
      - node4
    networks:
      - pbft_network
    ports:
      - "4000:4000"
    stdin_open: true
    tty: true


networks:
  pbft_network:
    driver: bridge
